<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/static/css/404.css}" href="/static/css/404.css" type="text/css"/>

    <!-- Artwork:
___  ___        _____               _           ___
|  \/  |       |_   _|             (_)         / _ \
| .  . | _   _   | |    __ _ __  __ _  ______ / /_\ \ _ __   _ __
| |\/| || | | |  | |   / _` |\ \/ /| ||______||  _  || '_ \ | '_ \
| |  | || |_| |  | |  | (_| | >  < | |        | | | || |_) || |_) |
\_|  |_/ \__, |  \_/   \__,_|/_/\_\|_|        \_| |_/| .__/ | .__/
          __/ |                                      | |    | |
         |___/                                       |_|    |_|

                                                            @Copyright: Kudzai Sean Huni, 2018.
    -->
</head>
<body>
<h1>Page Not Found</h1>
<p>Sorry, but the page you were trying to view does not exist.</p>
</body>
</html>